body {
    background-color: #393646 ;
    font-family: Lucida Console, Monaco, sans-serif;
    color: #f5ce8a;
}

main {
    width: 700px;
    margin:auto;
    border-style: outset;
/*  border-color: #91678d; */
    border-color: #262626;
    padding: 15px ;
}
/* Gradient from #FFB44C to #0000FF is a contender for backgrond */

article {
    border-style: outset;
    padding: 15px ;
    text-align: justify;
    border-color: #262626;
}

footer {
    text-align: justify;
    margin:auto;
}

h1, h2 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.301);
}

.a {
    text-align: center;
}

/* unvisited link */
a:link {
    color: #0000ff;
    text-decoration: none;
    background-color: #c0b326;
}
  
/* visited link */
a:visited {
    color: #54188a;
    text-decoration: none;
    background-color: #c0b326;
}
  
/* mouse over link */
a:hover {
    color: yellowgreen;
    text-decoration: underline;
    background-color: #c0b326;
}
  
/* selected link */
a:active {
    color: yellow;
    text-decoration: none;
    background-color: #c0b326;
}

button {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}
